<footer class="page-footer shadow bg-dark text-white">
    <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <a href="/" class="d-flex align-items-center p-0 text-white">
            <img alt="logo" src="./images/Designer.png" width="30px" />
            <span class="ms-3 h5 font-weight-bold">SWAKEDU</span>
          </a>
          <p class="my-3 text-secondary text-white" style="width: 250px">
            <i class="fa-solid fa-location-dot text-white"></i>  Yashodham colony, Malkapur, Buldhana Road, 443101, Maharashtra
          </p>
          <span class="mt-4">
            <button class="btn btn-dark btn-flat p-2">
              <a class="text-white" href="https://www.instagram.com/swakshan?utm_source=qr&igsh=MWdzZTM3dWhhM3lhOA==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          </button>
          <button class="btn btn-dark btn-flat p-2">
              <a class="text-white" href="https://x.com/TheSwakshan?t=DGh5i_QOTvaNA9yt30mBSg&s=08" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          </button>
          <button class="btn btn-dark btn-flat p-2">
              <a class="text-white" href="https://www.linkedin.com/in/swakshan-tayade-3a0a5b235/" target="_blank" ><i class="fa-brands fa-linkedin"></i></a>
            </button>
          </span>
        </div>
      
        
        
        
        
      </div>
      <small class="text-center mt-5">&copy; SWAKEDU, 2024. All rights reserved.</small>
    </div>
  </footer>